<div *ngIf="video != undefined" class="video-container">
	<p (click)="openDetail()" [ngClass]="{'pointer': !ignoreClick}">{{video.name}}</p>
	<div>
		<video  [id]="video._id" controls #videoelem (play)="startPlaying()">
			<source  [src]="video.url" type="video/mp4"/>
			Your browser does not support the video tag.
		</video>
	</div>
	<rating [(ngModel)]="rating"
		(ngModelChange)="rateVideo()"
		[max]="5"
		fullIcon="★"
		emptyIcon="☆"
		[readonly]="!ignoreClick"
		[disabled]="false">
	</rating>
	<div [ngClass]="{'hidden': hideDescription}">{{video.description}}</div>
</div>