.detail-container, .list {
	height: 100%;
}

.list{
	float: right;
}

@media only screen and (max-width : 992px) {
	.list{
		height: 200px!important;
		float:none;
		border-bottom: 1px solid;
	}

	.detail{
		height: 60%;
		overflow-y: scroll;
	}
}