.detail-container, .list {
	height: 100%;
}

.list{
	float: right;
}

@media only screen and (max-width : 992px) {
	.list{
		height: 30%!important;
		border-bottom: 1px solid;
	}

	.detail{
		height: 70%;
		overflow-y: scroll;
	}
}