app-video{
	padding : 15px;
}

.videos{
	height: 100%;
    overflow-y: auto;
}

.row.is-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}


@media only screen and (max-width : 992px) {
	.horizontal {
		width: 100%;
		height: 250px;;
		overflow: auto;
	}

	.horizontal > div{
		display: table !important;
		table-layout: fixed;
		width: 100%;
	}

	.horizontal > div  app-video {
		display: table-cell !important;
		width : 250px !important;
	}
}